.create-group {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-group h2 {
    text-align: center;
}


.create-group label {
    display: block;
   
}


.create-group button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-group button:hover {
    background-color: #555;
}



.file-container {
    display: flex;
    flex-direction: row;
}

.file-container input[type="text"] {
    flex: 1;
    border: 1px solid #DDDDDD; 
    border-radius: 6px; 
    background-color:#FAFAFA;
    width: 290px;
    height: 45px;
    margin-right: 10px;
}

.upload-button {
    background-color: #FAFAFA;
    color: #282828;
    border: 1px solid #282828;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 45px;
}

.upload-button:hover {
    background-color: #FAFAFA;
}

