.main {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin: auto;
    width: 1920px;
    height: 2048px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 375px;
  }
  
  .card img {
    width: auto;
    height: auto;
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-meta {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .divider {
    width: 1px; /* 선의 너비 */
    height: 20px; /* 선의 높이 */
    background-color: #ccc; /* 선의 색상 */
    margin: 0 10px; /* 선 양쪽 여백 */
  }

  .card-title {
    font-size: 16px;
    font-weight: 700;
  }
  
  .card-description {
    font-size: 16px;
    font-weight: 400;
    color: #282828; 
  }
  
  .card-date {
    font-size: 14px;
    font-weight: 400;
    color: #282828; 
  }
  
  .card-category {
    font-size: 14px;
    font-weight: 400;
    color: #8D8D8D;
  }

  .card-meta2 {
    display: flex;
    gap: 40px;
    margin-top: 20px; 
  }

  .card-meta2 span {
    font-size: 12px;
    color: #B8B8B8;
    font-weight: 400;
  }
  
  .card-meta2 div {
    font-size: 14px;
    color: #282828;
    font-weight: 400;
  }

  
  
  .load-more {
    margin-top: 60px;
    width: 1560px;
    height: 60px;
    background-color: #FAFAFA;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #282828;
    border-radius: 6px;
    cursor: pointer;
  }
  